.title {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 3fr 1fr;
  gap: 10px;
  min-width: 750px;
  max-width: 1000px;
  height: 50px;
  font-weight: 700;
  margin-bottom: 10px;
}

.title div:hover {
  cursor: pointer;
}
